.page-header {
  background-color: #5c9ad120;
  background-image: url(./pattern.png);
}

body {
  margin: 0;
}

.logo {
}

.tabcolor {
  background-color: rgb(0, 191, 255);
}

.riga {
  background-color: rgb(0, 217, 255);
}
